* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.regHeading {
  font-family: "Nunito", sans-serif;
  font-size: 34.4px;
  font-weight: 700;
}
.regSubheading {
  font-family: "Nunito", sans-serif;
  font-size: 20.64px;
  font-weight: 600;
}
.registrationImg {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.regLeftside {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 100px;
  margin-right: 50px;
}
.inputBoxContainer {
  width: 368.09px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.regInputEmail,
.regInputfullName,
.regInputPassword {
  width: 100%;
  margin-top: 56px !important;
}

.regLink {
  margin-top: 35px !important;
  font-family: "Nunito", sans-serif;
  font-size: 13.34px;
  font-weight: 600;
  color: #03014c;
  width: 100%;
  text-align: center;
}
.regLink a {
  color: #ea6c00;
  margin-left: 5px;
}

.loginWithGoogle{
  margin-top: 32px;
}

.logLeftside{
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.error{
  width: 92%;
}
.eyeIcons{
  position: absolute;
  bottom: 16px;
  right: 20px;
  font-size: 25px;
}
.loder{
  display: flex;
  position: absolute;
  top: -71px;
  left: 151px;
}

.sidebar{
  width: 95%;
  height: 98vh;
  background: #5f35fa;
  border-radius: 20px;
  padding: 38px 43px;
  box-sizing: border-box;
}
.sidebarBox{
  display: flex;
  align-items: center;
  justify-content: end;
  height: 100vh;
  
  flex-direction: row;
}
.imageholder{
  display: flex;
  justify-content: center;
}
.iconholder{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 80%;
}
.icons{
  color: #BAD1FF;
  font-size: 46px;
}

.logoutbtn{
  background: transparent;
  border: none;
}

.groupholder{
  padding: 10px;
  background: #fff;
  height: 370px;
  border-radius: 20px;
  margin-top: 10px;
  -webkit-box-shadow: 0px 1px 12px 4px rgba(0,0,0,0.28);
  -moz-box-shadow: 0px 1px 12px 4px rgba(0,0,0,0.28);
  box-shadow: 0px 1px 12px 4px rgba(0,0,0,0.28);
  overflow-y: scroll;
  margin-bottom: 10px;
}
.titleholder{
  display: flex;
  justify-content: space-between;
}
.titleholder button{
  padding: 10px;
  background: #5f35fa;
  border: 0;
  color: #fff;
  font-weight: 500;
  border-radius: 10px;
}
.boxbtn{
  padding: 10px;
  background: #5f35fa;
  border: 0;
  color: #fff;
  font-weight: 500;
  border-radius: 10px;
  margin: 0 10px;
}

.box{
  display: flex;
  column-gap: 20px;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #767676;
  margin-bottom: 10px;
}
.box:last-child{
  border-bottom: none;
}

.boxImgholder{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.boxImgholder img{
  width: 100%;
}

.img-preview{
  height: 70px !important;
  width: 70px !important;
  overflow: hidden;
  border-radius: 50%;
}
.proSize{
  width: 70px !important;
  width: 70px !important;
  border-radius: 50%;
}
.profileName{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.CrGrpInput{
  width: 100%;
  margin-top: 10px !important;
}
.CrGrpInputBox{
  display: flex;
  position: relative;
  flex-direction: column;
}
